<script type="text/javascript">
	<% if current_user %>
		window.currentUser = <%= render('api/users/user.json.jbuilder', user: current_user).html_safe %>
	<% end %>
</script>

<div id="root"></div>






<!--
<div class="container">


		<video src="http://res.cloudinary.com/dfkrjl3pb/video/upload/v1472688101/dj_vid_e5p5vj.mp4" autoplay
		 	class="splash-video"  muted loop>
		</video>

	<div class="splash" style="background: rgba(160,186,207, 0.5);">

		<div class="splash-text">
				<h1 class="splash-logo"> Demixified </h1>

				<div class="sub-text">
					<h2 class="splash-summary"> Demixified is where music fans deconstruct
						the latest DJ mixes
				</h2>
						<br/>
					<p class="splash-description"> 	Everyday thousands of DJs release their mixes online.
						Listen to these mixes for free! Our users
						deconstruct these into demixes.  </p>
				</div>
			</div>


	</div>



</div> -->
