.comment-form-container {
	width: 1200px;
	margin: 0 auto;

	.comment-form-box {

		background: white;

		textarea {
			background: #eee;
	    border: 0;
	    font-family: sans-serif;
	    width: 1000px;
	    padding: 10px;
	    height: 120px;
	    margin: 10px 80px;
	    border-radius: 5px;

		}
		.submit-comment-button {
			padding: 10px;
	    margin: 5px;
	    display: block;
	    margin: 0 auto;

		}
	}
}

.comment-index-wrapper {
	font-family: $text-font;
	.comment-index-container {

		width: 1200px;
		background: whitesmoke;
		margin: 0 auto;

		.comment-index-item {
			padding: 30px 20px;

			.comment-item-creator {
				.comment-item-creator-pic {
					width: 70px;
					display: table-cell;
					img {
						border-radius: 30px;
					}
				}

				.comment-item-creator-text {
					display: table-cell;
					vertical-align: middle;
				}
			}

			.comment-body {
				padding: 30px 0;
		    border-bottom: 2px solid #ccc;
			}

			.comment-data {
				padding-top: 10px;
			}
		}//ITEM

	}
}
