@import 'https://fonts.googleapis.com/css?family=Baloo+Tamma';
@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';

$search-bar-width: 400px;
$search-bar-height: 36px;
$search-bar-radius: 19px;
$search-bar-border: 1px solid gray;

$search-button-color: #5c6ea3;

$text-font: 'Baloo Tamma', sans-serif;
$other-text-font: 'Montserrat', sans-serif;

$nav-bar-color: #2f364a;
$nav-bar-height: 70px;
$top-z-index: 1000;

html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small {
  margin: 0;
  padding: 0;
  // border: 0;
  outline: 0;

  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;

  vertical-align: inherit;
  // color: inherit;
  // background: transparent;
	font: inherit;
	font-family: inherit;
}


body {
  background: #eeeeee;
}


.splash {
  // width: 100%;
  // height: 350px;
  // position: absolute;
  // top: $nav-bar-height;
  // background: #a0bacf;
  // background: gray;
  font-family: $other-text-font;
  color: black;

  .splash-text {

    margin-top: 4%;;
    text-align: center;

    .splash-logo {
      font-size: 100px;
    }

    .sub-text{


      .splash-summary {
        font-weight: bold;
        font-size: 25px;

      }

      .splash-description {

      }
    }

  }



}


.welcome-text {
  text-align: center;
}


.login-form {
  text-align: center;
}



.login-form-header {
  font-size: 40px;
  font-weight: bold;

}

.login-form-box {
  font-family: 'Baloo Tamma', sans-serif;
  border: 1px solid black;
  display: inline-block;
  padding: 10px 60px;
  box-shadow: 2px gray;
  background: white;
  // height: 20%;
  // width: 25%;
  margin-top: 10%;
  margin-left: 25%;
  // margin-right: 30%;

}

.login-input {

  border: $search-bar-border;
  border-radius: $search-bar-radius;
  margin: 5px 0;
  width: 350px;
  padding-left: 10px;
  height: $search-bar-height;


}


.login-form-status {
  // border: 1px solid red;
  // margin-top: 10%;
  margin-left: 40%;
  margin-right: 40%;
}

.search-bar {
  // line-height: 70px;
  border: $search-bar-border;;
  padding-left: 10px;
  border-top-left-radius: $search-bar-radius;
  border-bottom-left-radius: $search-bar-radius;
  width: $search-bar-width;
  height: $search-bar-height;
}

.search-button {
  padding: 4px 20px;
  border-top-right-radius: $search-bar-radius;
  border-bottom-right-radius: $search-bar-radius;
  background-color: $search-button-color;
  text-decoration: none;
  color: white;

}




.nav-bar {

  top: 0;
  z-index: $top-z-index;
  position: fixed;
  width: 100%;


	background-color: $nav-bar-color;
	color: white;
  line-height: $nav-bar-height;
	height: $nav-bar-height;
	text-decoration: none;

	font-family: 'Baloo Tamma', sans-serif;



  .profile-dropdown-wrapper{
    padding: 0 40px;
    height: 100px;
		float: right;
    display: flex;

      .header-profile-pic {
        height: 50px;
        background: white;
        border: $search-bar-border;
        border-radius: $search-bar-radius;
        margin: 0 40px;
      }

      .dropdown-menu {
          display: none;
          position: absolute;
          top: $nav-bar-height;
          // margin-top: 70px;
          right: 0;
          background: #fff;
          width: 155px;
          color: #999;
          box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
      }

      .dropdown-menu > li {
        // text-align: center;
        padding-left: 20px;
        list-style: none;
      }
    }

    .profile-dropdown-wrapper:hover {
      cursor: pointer;
      // display: block;
    }

  .profile-dropdown-wrapper:hover > .dropdown-menu {
    cursor: pointer;
    display: block;
  }
  .profile-dropdown-wrapper .dropdown-menu:hover > .dropdown-menu {
    cursor: pointer;
    display: block;
  }

  .profile-dropdown-wrapper .dropdown-menu > li:hover  {
    background: #eee;
    // cursor: pointer;
    // display: block;
  }



  // .profile-dropdown-wrapper:hover {
  //   cursor: pointer;
  // }






	.login-signup {
		padding: 0 40px;
		float: right;
    display: flex;
	}

  .logout:hover {
    cursor: pointer;
  }

	//
	.login-signup > a {
		display: inline;
		color: inherit;
		float: left;
    padding: 0 20px ;
		// float: right;
		text-decoration: inherit;
	}

	.header-link {
		padding: 0 40px;
		display: inline-block;
		text-decoration: inherit;
		color: inherit;
	}


	.rm-container {
		display: inline-block;
		text-align: center;
		background-color: green;
		margin: 0;
		width: 100%;
	}

}


.cf:after {
	content: "";
	clear: both;
	display: block;
}


.container {
  width: 400px;
  position: relative;
  margin-left: 20%;
}
.constainer video {

  // width: 100%;
  // height: auto;
  position: relative;
  z-index: 0;
}

.splash {
  position: absolute;
  top: 30%;
  left: 100%;
  z-index: 1;
}

.draggable {
  display: none;
}
.vsc-controller {
  display: none;
}
