.mix-form-container {


		background: inherit;
	.mix-form-instructions {
		background: #333;
		color: white;

		.instructions-text {
			display: block;
			padding: 10px;
			p {
				padding: 5px 0;
			}
		}

	}


	img {
		width: 100%;
		height: auto;
		display: block;
	}

	font-family: $text-font;
	display: block;
	margin: 0 auto;
	position: relative;
	// position: absolute;
	top: 30px;


	.mix-form-box{

		// position: abso
		// margin-left: 500px;
		display: block;
		// width: 600px;
		background: white;


		.mix-form {
			margin-left: 40px;

			.mix-details {
				width: 800px;
				margin: 0 auto;
				background: white;

				.mix-selection {
					background: #ccc;
					width: 260px;
					height: 225px;
					float: left;

					.mix-selection-advice {
						background: whitesmoke;
						margin: 0 auto;
					}
					.soundcloud-pic-container {
						width: 100px;
						margin: 20px auto;
					}


				}

				.mix-selection-form {
					float: right;
					width: 500px;

					.mix-description {
						width: inherit;
						margin-top: 7%;
						height: 100px;
					}

					.mix-tags {
						width: inherit;
						width: 460px;
						margin-top: 3%;
						// padding: 0;
						// border: none;
						text-align: center;
						border-radius: none;
					}

					.submit-mix-button {
						margin-top: 3%;
						margin-left: auto;
						margin-right: auto;
					}
				}


			}


			.track-details {
				width: 500px;
				margin: 0 auto;
				background: white;
				margin-top: 25px;
			}
		}

		.suggestion-item {
			list-style: none;
			// width: 500px;
			// border: 1px solid black;
			background: whitesmoke;
			margin-top: 10px;
			p {
				float: left;
			}

			img {
				float: right;
			}

		}



		.cf:after {
			content: "";
			clear: both;
			display: block;
		}


		input[type=text] {
			display: block;
			font-size: 11px;
			border-radius: $search-bar-radius;
			padding-left: 20px;
			// margin-top: 20px;
			margin: 0 auto;
			width: 80%;
			height: 20px;
		}

		input[type=submit] {
			// float: right;
			display: block;
		}



		input[type=checkbox] {
			display: block;
			width: 100px;
			height: 100px;
		}

		text-area {
			margin-top: 10px;
			display: block;
		}
	}

}
