.mix-index-wrapper{
	display: absolute;
	top: 0;
	// border-top: 3px solid black;
 /* position: absolute; */
	 // top: 0;
	 margin: 122px auto;
	 display: block;
	 width: 100%;

	.mix-index-container {
		// display: flex;

		.mix-index-item {
			margin: 20px auto;
			display: block;
			color: black;
			// background: transparent;
			// background: black;
			width: 455px;
			padding: 5px;
			height: 260px;

			.mix-item-creator {
				background: white;
				border: 1px solid transparent;
				height: 55px;
				padding: 0 15px;

				.mix-item-creator-pic {
					// float: left;
					display: table-cell;
					margin: 0 10px;
					width: 45px;
					img {
						border-radius: 30px;
						// border: 1px solid black;
					}
				}

				.mix-item-create-text {
					font-family: $text-font;
					display: table-cell;
					vertical-align: middle;
					// float: left;
				}
			}

			.mix-item-detail {
				margin-top: 10px;
				background: white;
				border: 1px solid transparent;
				height: 180px;
				padding: 5px;


				.mix-avatar-wrapper{
					// display: flex;
					// flex-direction: column;
					// justify-content: center;
					float: left;
					width: 200px;
					height: 200px;

					.mix-avatar{
						position: relative;
						display: block;
						margin: 0 auto;
						width: 175px;


						.image-text {

							position: absolute;
					   top: 70px;
						 display: none;
					   left: 0;
					   width: 100%;
						 text-align: center;
							span {
							color: white;
							font-family: $text-font;
							// position: absolute;
							font-size: 14px;
							 letter-spacing: -1px;
							 background: rgb(0, 0, 0); /* fallback color */
							 background: rgba(0, 0, 0, 0.7);
							 padding: 10px;

							}
						}

						&:hover .image-text {
							display: block;
						}


						&:hover {
							cursor: pointer;
						}



					}
				}
				.mix-text {
					// display: relative;
					display: flex;
					flex-direction: column;

					.mix-item-title {
						font-size: 20px;
						font-weight: bold;
						font-family: $text-font;
						&:hover {
							cursor: pointer;
						}
					}
					.mix-item-dj {
						padding-top: 5px;
						font-family: $text-font;
						// display: absolute;
						// bottom: 0;
						// left: 0;
						// margin-top: 15px;
						.index-item-like-icon, .index-item-track-icon {
							width: 20px;
							display: table-cell;
							vertical-align: middle;
						}

						.liked-user-count, .track-count {
							// display: inline-block;
							display: table-cell;
							vertical-align: middle;
							padding: 2px 6px;
						}



						h2 {
							font-size: 14px;
						}
						.dj-name {
							font-family: sans-serif;
							margin-left: 10px;
						}

					}


					// float: left;
				}
			}
		}
	}
}

.image-element-class {
	list-style: none;
}
