
.sb-soundplayer-progress-container.mt1.mb1.rounded {
  background: black;
}

// .sb-soundplayer-progress-container .mt1 .mb1 .rounded {
//   width: 300px;
//   background: red;
//   border: 5px solid red;
// }

.sb-soundplayer-progress-inner.rounded-left {
  border: 5px solid red;
}

button.sb-soundplayer-play-btn.flex-none.h4.mr2.button.white.btn-big.button-outline.button-grow.bg-orange.circle {
  width: 40px;
}

.sb-soundplayer-progress-container:hover {
  cursor: pointer;
}

.p2.border.navy.mt1.mb3.flex.flex-center.rounded {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: gray;
  z-index: 1000;
  padding-bottom: 0px;
  margin-bottom: 0px;
  right: 0;
  left: 0;
}
