@mixin player-img {
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 5px;
	float: left;
	width: $nav-bar-height - 10px;
}

.sound-player-container {
	bottom: 0;
  z-index: $nav-z-index;
  // position: fixed;
	height: $nav-bar-height;
  position: fixed;
  width: 100%;
  right: 0;
  left: 0;
	background-color: #ccc;

	.player-controls {

		float: left;
		width: 500px;
		background: black;
		height: 100%;

		.mix-pic {
			@include player-img;
			&:hover {
				cursor: pointer;
			}
		}

		.play-button, .next-button, .like-button {
			  float: left;
				text-align: center;
		    font-family: "Montserrat", sans-serif;
		    text-decoration: none;
		    background-color: #5c6ea3;
		    color: white;
		    padding: 2px 6px 2px 6px;
		    width: 80px;
		    height: 47px;
				margin: 10px 10px;
		    border: 1px solid gray;
		    border-radius: 19px;
		}
	}

	.player-track-details {
		height: 100%;
		width: 1400px;

		font-family: $text-font;
		font-size: 16px;


		background-color: $emma-purple;
		display: block;
		float: left;

		.track-text{
			float: left;

			.track-details-top {
				// height: inherit;
				color: white;
				float: left;
			}

			.track-details-bottom {

			}

		}

		.artist-pic {
			@include player-img;
		}

	}


}
