.splashy-frame {
  position: fixed;
  width: 100%;
.the-splash-container{

  margin: 0 auto;
  // width: 1400px;
  // position: relative;
  // top: $nav-bar-height;

 .splash-mother {
   background: #d7e6e3;
   border-bottom: 4px solid #77d0c0;


    // position: absolute;
    // left: 20%;

   .splash-wrapper {

    //  width: 800px;
     padding: 0;
     position: relative;
     video {
       position: relative;
       z-index: 0;
       display: block;
       width: 100%;
       height: auto;

     }

     .draggable {
       display: none;
     }
     .vsc-controller {
       display: none;
     }

     .splash {
       @include static-splash;

       top: 8%;
       left: 20%;
      color: black;
      position: absolute;

       z-index: $splash-z-index;

       .splash-text {
				 color: white;


        //  background: rgba(160,186,207, 0.5);

        //  margin-top: 12%;;
         text-align: center;

         .splash-logo {
           font-size: 100px;
         }

         .sub-text{


           .splash-summary {
             font-weight: bold;
             font-size: 25px;

           }

           .splash-description {
             // padding
           }


         }

         .signup-button {
           @include buttonify;
           // @include debugger;

         }
         .signup-button > h2 {
           // @include debugger;

           color: inherit;
           line-height: 2.77;
         }

       }


     }



   }//CONTAINER
 }
}
}
