$search-bar-width: 400px;
$search-bar-height: 36px;
$search-bar-radius: 19px;
$search-bar-border: 1px solid gray;

$search-button-color: #5c6ea3;

$text-font: 'Montserrat', sans-serif;
$other-text-font: 'Montserrat', sans-serif;

$nav-bar-color: #45d9e5;
$nav-bar-height: 70px;
$nav-z-index: 1000;
$splash-z-index: 1;
